DATABASE_URL = "rdbmsType://username:password@iphost:portNumber/databaseName"
PORT = yourPortNumber
JMT_SECRET = your JMT_SECRET KEY
TYPEORM_CONNECTION = yourRebmsType
TYPEORM_HOST = yourHostNumber
TYPEORM_USERNAME = yourUserName
TYPEORM_PASSWORD = yourPassWord
TYPEORM_DATABASE = yourDbName
TYPEORM_PORT = yourTypeOrmPortNumber
TYPEORM_LOGGING = TRUE or FALSE