
이 파일에는 최대한 사람들이 
이프로젝트에서 환경변수를 이렇게 정했구나 하도록 잘 정리해주기 
PORT = YOUR PORT NUMBER SHOULD BE HERE~

TYPEORM_CONNECTION = mysql  
TYPEORM_HOST = 127.0.0.1
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = 비밀번호  
TYPEORM_DATABASE = 실제 데이터베이스 이름넣기
TYPEORM_PORT = 3306
TYPEORM_LOGGING = TRUE  #에러, 혹은 기록된 행동들 